   /* .navbar{
    border: 2px solid;
   
    right: 50px;
}  */
#regalo{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 500px;
    padding: 16px 20px;
}

 .navbar1{
    
    display: flex;
    justify-content: right;
} 
.navbar1 img{
 display: flex;
 justify-content: left;
}
.nav{
    display: flex;
    flex-direction: row;
} 
.navbar li{
    display: flex;
    list-style-type: none;
    margin: 3px 40px;
    display: flex;
    flex-direction: row-reverse;
} 

#caricature{
    color: black;
padding: 35px 10px;
display: flex;
    flex-direction: row-reverse;

text-decoration: none;
}

#shop{
    color: black;
    padding: 35px 24px;
    text-decoration: none;
}
#cart{
    display: flex;
    float: right;
    padding: 30px 20px ; 
   
}
#user{
    float: right;
    padding: 30px 20px;
}
.search{
    position: absolute;
   
    margin:  28px -115px;
    transform: translate(-50%,-50%);
    background:white;
    height: 40px;
    border-radius: 40px;
    padding: 10px 40px ;
   left: 700px;
   top: 49px;
}
.search-btn{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    display:flex ;
    justify-content: center;
    align-items: center;
    /* transition: 0.4s;  */
}  
.search:hover > .search-txt{
 width: 240px;
padding: 0px 6px; 

}  
.search:hover > .search-btn{
    background-color: black;
}
#searchtext{
    color: black;
}
 .search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s ;
    line-height: 40px;
    width: 0px;
    transition: .5s;
} 
.perfect{
    
   background-color: #F9CAC2;
   display: flex;
   flex-direction: row-reverse;
 
 
}
.perfect img {
    height: 50%;
    width: 50%;
    
 
}

.gif{
    margin: 2px 10px;
    font-size: 3rem;

}
#daazle{
    font-size: 23px;
}
.perfect button{
    color: whitesmoke;
    background-color: black;
   border: 2px solid white;
   padding: 6px 30px;
   text-decoration: none;
}
#shopbtn{
    color: whitesmoke;
    text-decoration: none;
    
}
 /* -------------------------work-------------------------------------------- */
.work div{ 
   display: flex;
   
    
}
 #h{
    display: flex;
    justify-content: center;
}
/* -----------------img----------------------------------- */
.gift{
    margin: 5rem 6rem; ;

}
.hand{
    margin: 5rem 5rem ;
    padding: 0px 4px;
}
.packed{
    margin: 4rem 4rem ;
    padding: 0px 4px;
}
/* ------------------------------contain------------------------------------------- */
.p{
    display: flex;
}
#g{
display: flex;
flex-direction: inherit;
    margin: -1rem 7rem;
}
#h{
    display: flex;
    margin: 0rem 5rem;
    padding: 0rem 0rem;
    flex-direction: initial;
}
#ps{
    display: flex;
    margin: -1rem 4rem;
    padding: 0rem 4rem;
    font-size: revert;
}

.pa{
    display: flex;
}
#o{
    display: flex;
    flex: revert; 
    margin: 2rem 2rem;
    padding: 0rem 4rem;
    font-size: 20px;
}
#a{
    display: flex;
    flex: revert;
    margin: 25px 0px;
    padding: -1rem 2rem;
    font-size: 20px;
}
#w{
    display: flex;
    flex: revert;
    margin: 1rem 11rem;
    padding: 0rem 4rem;
    font-size: 20px;
}
.shop{
    display: flex;
    justify-content: center;
}
.shop-img{
 display: flex;
 padding: 0px 40px;
}
#img-1{

width: 400px;
height: 400px;
background: rgb(190, 228, 229);
margin-left: 120px;
}
#img-2{
   
    width: 400px;
    height: 400px;
    background: pink;
    margin: 0px 180px;
    margin-left: 120px;
}
.shopheading{
    display: flex;
    margin: 40px;
}
#virtual{
    margin: 0px 85px;
padding: 0px 162px;

}
#scrap{
    margin: 0px 140px;
    padding: 0px -6px;
}
.shop-para{
    display: flex;
    padding: 0px 50px;
}
.shop-para p{
    margin: -12px 40px;
    padding: 0px 84px;
}
#get{
    margin: -25px -52px;
    padding: 0px 40px;
}
.button{
    display: flex;
    flex-direction: row-reverse;

}
#btn1{
    margin: 0px 258px;
    border: chocolate;
    color: cornsilk;
    background-color: black;
}
#btn2{
    
    border: chocolate;
    color: cornsilk;
    background-color: black;
    margin: 0px 258px;
    padding: 2px 4px;
}
.earth{
    background: #EAFAFA;
    width: 100%;
    height: 60vh;
    margin-top: 15vh;
    z-index: -1;
}
.earth img{
    height: 60vh;
    width: 45%;

}
.earth h1{
    color: black;
    font-weight: bold;
    font-size: 4rem;
    margin-left: 50vw;
    margin-top: -20vw;
}
.earth h2{
    color: black;
    font-weight: bold;
    margin-left: 50vw;
     margin-top: 2vh;
}
.earth button{
    color: white;
    background: black;
    margin-left: 58vw;
    padding: 1vh;
    margin-top: 2vh;
}

.customer{
    background-color: #FBFFD4;
    margin: -28px 0px;
}

.customer h4{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30PX;
}
.customer img{
    
   padding: 0px 590px;
}
#such{
  padding: 0px 370px;
  margin: 0px 50px;
}
#real{
    display: flex;
    justify-content: center;
}